In [ ]:
import numpy as np
import pandas as pd
import os

# from google.colab import files 
from google.colab import drive 
drive.mount('/content/drive')
df=pd.read_excel('/content/drive/My Drive/well.xls')
filePath = os.path.expanduser('/content/drive/My Drive/well.xls')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=df[['operatorname','welltype','year','discoveredreservesmmboe','rigtype']]
df=df[df.operatorname=='Chevron']
df=df.sort_values(by=["year"])

In [ ]:
df['column'] = df['discoveredreservesmmboe'].map(sss)
df=df[df.welltype=='Exploration']
df

      operatorname     welltype  ...           rigtype  column
13031      Chevron  Exploration  ...           Jack-Up       1
21137      Chevron  Exploration  ...     Unknown/Other       0
21136      Chevron  Exploration  ...     Unknown/Other       0
14532      Chevron  Exploration  ...  Semi-Submersible       0
14569      Chevron  Exploration  ...          Land Rig       0
20803      Chevron  Exploration  ...  Semi-Submersible       1
15885      Chevron  Exploration  ...          Land Rig       0
3917       Chevron  Exploration  ...  Semi-Submersible       0
9213       Chevron  Exploration  ...          Land Rig       0
9070       Chevron  Exploration  ...          Land Rig       1
8755       Chevron  Exploration  ...  Semi-Submersible       0
11512      Chevron  Exploration  ...  Semi-Submersible       1
4330       Chevron  Exploration  ...          Land Rig       0
8754       Chevron  Exploration  ...  Semi-Submersible       0
17606      Chevron  Exploration  ...          Land Rig       0
18027      Chevron  Exploration  ...          Land Rig       0
5450       Chevron  Exploration  ...           Jack-Up       0
7198       Chevron  Exploration  ...          Land Rig       0
7197       Chevron  Exploration  ...          Land Rig       0
7034       Chevron  Exploration  ...          Land Rig       0
4293       Chevron  Exploration  ...          Land Rig       1
20924      Chevron  Exploration  ...           Jack-Up       0
14150      Chevron  Exploration  ...  Semi-Submersible       0
509        Chevron  Exploration  ...  Semi-Submersible       1
13730      Chevron  Exploration  ...          Land Rig       1
13735      Chevron  Exploration  ...  Semi-Submersible       1
13876      Chevron  Exploration  ...  Semi-Submersible       0
13878      Chevron  Exploration  ...  Semi-Submersible       0
13880      Chevron  Exploration  ...  Semi-Submersible       1
14009      Chevron  Exploration  ...        Drill Ship       0
...            ...          ...  ...               ...     ...
9546       Chevron  Exploration  ...           Jack-Up       1
10623      Chevron  Exploration  ...          Land Rig       0
6585       Chevron  Exploration  ...     Unknown/Other       0
12133      Chevron  Exploration  ...        Drill Ship       1
13706      Chevron  Exploration  ...  Semi-Submersible       0
3959       Chevron  Exploration  ...  Semi-Submersible       1
19059      Chevron  Exploration  ...     Unknown/Other       0
12651      Chevron  Exploration  ...  Semi-Submersible       1
22430      Chevron  Exploration  ...  Semi-Submersible       0
9503       Chevron  Exploration  ...          Land Rig       0
21814      Chevron  Exploration  ...        Drill Ship       1
11242      Chevron  Exploration  ...  Semi-Submersible       1
16018      Chevron  Exploration  ...        Drill Ship       0
22654      Chevron  Exploration  ...          Land Rig       0
17370      Chevron  Exploration  ...  Semi-Submersible       1
3356       Chevron  Exploration  ...           Jack-Up       1
19114      Chevron  Exploration  ...           Jack-Up       0
4613       Chevron  Exploration  ...  Semi-Submersible       1
6854       Chevron  Exploration  ...        Drill Ship       0
18811      Chevron  Exploration  ...           Jack-Up       0
17514      Chevron  Exploration  ...  Semi-Submersible       1
12164      Chevron  Exploration  ...        Drill Ship       0
8748       Chevron  Exploration  ...          Land Rig       0
12960      Chevron  Exploration  ...          Land Rig       0
13707      Chevron  Exploration  ...  Semi-Submersible       0
9085       Chevron  Exploration  ...  Semi-Submersible       1
9787       Chevron  Exploration  ...        Drill Ship       0
14807      Chevron  Exploration  ...  Semi-Submersible       0
14808      Chevron  Exploration  ...        Drill Ship       0
18432      Chevron  Exploration  ...  Semi-Submersible       0

[217 rows x 6 columns]

In [ ]:
df=df.drop('welltype', axis=1)
df=df[df.rigtype=='Jack-Up']

In [ ]:
df

      operatorname  year  discoveredreservesmmboe  rigtype  column
13031      Chevron  2000                23.190001  Jack-Up       1
5450       Chevron  2000                 0.000000  Jack-Up       0
20924      Chevron  2000                 0.000000  Jack-Up       0
15201      Chevron  2001                 6.200000  Jack-Up       1
11810      Chevron  2001                14.560000  Jack-Up       1
21225      Chevron  2002                 0.000000  Jack-Up       0
21580      Chevron  2003                 0.000000  Jack-Up       0
21581      Chevron  2004                 0.000000  Jack-Up       0
21582      Chevron  2004                 0.000000  Jack-Up       0
18742      Chevron  2004                 0.750000  Jack-Up       1
8533       Chevron  2004                 0.000000  Jack-Up       0
14383      Chevron  2005                 0.000000  Jack-Up       0
3272       Chevron  2005                25.000000  Jack-Up       1
21619      Chevron  2005                 0.000000  Jack-Up       0
21583      Chevron  2005                 0.000000  Jack-Up       0
21922      Chevron  2006                 0.000000  Jack-Up       0
13361      Chevron  2006                 0.000000  Jack-Up       0
21224      Chevron  2006                 0.880000  Jack-Up       1
20132      Chevron  2006                13.770000  Jack-Up       1
14352      Chevron  2006                 0.000000  Jack-Up       0
4428       Chevron  2006                 0.000000  Jack-Up       0
6206       Chevron  2006               125.400002  Jack-Up       1
11824      Chevron  2006                 0.000000  Jack-Up       0
12319      Chevron  2006                 0.000000  Jack-Up       0
12604      Chevron  2007                 0.000000  Jack-Up       0
12642      Chevron  2007                 5.000000  Jack-Up       1
19318      Chevron  2007                 0.000000  Jack-Up       0
18986      Chevron  2007                 0.000000  Jack-Up       0
15912      Chevron  2007                 0.000000  Jack-Up       0
18966      Chevron  2007                 5.000000  Jack-Up       1
19931      Chevron  2007                 0.000000  Jack-Up       0
22461      Chevron  2007                 7.950000  Jack-Up       1
19932      Chevron  2007                 0.000000  Jack-Up       0
8957       Chevron  2008                17.600000  Jack-Up       1
2940       Chevron  2008                 0.000000  Jack-Up       0
15701      Chevron  2008                44.000000  Jack-Up       1
12247      Chevron  2008                 0.000000  Jack-Up       0
3355       Chevron  2009                20.600000  Jack-Up       1
3354       Chevron  2009                 0.000000  Jack-Up       0
3323       Chevron  2009                79.199997  Jack-Up       1
21367      Chevron  2009                40.560001  Jack-Up       1
16990      Chevron  2010                 0.000000  Jack-Up       0
9604       Chevron  2010                 0.000000  Jack-Up       0
9605       Chevron  2010                 0.000000  Jack-Up       0
9603       Chevron  2010                 0.000000  Jack-Up       0
9546       Chevron  2011                67.800003  Jack-Up       1
3356       Chevron  2012                18.799999  Jack-Up       1
19114      Chevron  2012                 0.000000  Jack-Up       0
18811      Chevron  2012                 0.000000  Jack-Up       0

In [ ]:
df=df.drop('discoveredreservesmmboe', axis=1)

In [ ]:
df

      operatorname  year  rigtype  column
13031      Chevron  2000  Jack-Up       1
5450       Chevron  2000  Jack-Up       0
20924      Chevron  2000  Jack-Up       0
15201      Chevron  2001  Jack-Up       1
11810      Chevron  2001  Jack-Up       1
21225      Chevron  2002  Jack-Up       0
21580      Chevron  2003  Jack-Up       0
21581      Chevron  2004  Jack-Up       0
21582      Chevron  2004  Jack-Up       0
18742      Chevron  2004  Jack-Up       1
8533       Chevron  2004  Jack-Up       0
14383      Chevron  2005  Jack-Up       0
3272       Chevron  2005  Jack-Up       1
21619      Chevron  2005  Jack-Up       0
21583      Chevron  2005  Jack-Up       0
21922      Chevron  2006  Jack-Up       0
13361      Chevron  2006  Jack-Up       0
21224      Chevron  2006  Jack-Up       1
20132      Chevron  2006  Jack-Up       1
14352      Chevron  2006  Jack-Up       0
4428       Chevron  2006  Jack-Up       0
6206       Chevron  2006  Jack-Up       1
11824      Chevron  2006  Jack-Up       0
12319      Chevron  2006  Jack-Up       0
12604      Chevron  2007  Jack-Up       0
12642      Chevron  2007  Jack-Up       1
19318      Chevron  2007  Jack-Up       0
18986      Chevron  2007  Jack-Up       0
15912      Chevron  2007  Jack-Up       0
18966      Chevron  2007  Jack-Up       1
19931      Chevron  2007  Jack-Up       0
22461      Chevron  2007  Jack-Up       1
19932      Chevron  2007  Jack-Up       0
8957       Chevron  2008  Jack-Up       1
2940       Chevron  2008  Jack-Up       0
15701      Chevron  2008  Jack-Up       1
12247      Chevron  2008  Jack-Up       0
3355       Chevron  2009  Jack-Up       1
3354       Chevron  2009  Jack-Up       0
3323       Chevron  2009  Jack-Up       1
21367      Chevron  2009  Jack-Up       1
16990      Chevron  2010  Jack-Up       0
9604       Chevron  2010  Jack-Up       0
9605       Chevron  2010  Jack-Up       0
9603       Chevron  2010  Jack-Up       0
9546       Chevron  2011  Jack-Up       1
3356       Chevron  2012  Jack-Up       1
19114      Chevron  2012  Jack-Up       0
18811      Chevron  2012  Jack-Up       0

In [ ]:
df=df.drop('rigtype', axis=1)   #have derived the table Company|year|discovered oil or not

In [ ]:
df.groupby(by=['year']).mean().to_csv("/content/drive/My Drive/chevron.jack-up.csv")

In [ ]:
df.groupby(by=['year']).mean()

        column
year
2000  0.333333
2001  1.000000
2002  0.000000
2003  0.000000
2004  0.250000
2005  0.250000
2006  0.333333
2007  0.333333
2008  0.500000
2009  0.750000
2010  0.000000
2011  1.000000
2012  0.333333

In [ ]:
df["mean_column"] = df.groupby(by=['year']).mean()["column"]

In [ ]:
df['mean_column']=df.year.apply(lambda x: df[df.year==x].describe().column.T.mean())
df.column.values

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0])